.UpdateEvent {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.UpdateEvent label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.UpdateEvent input,
.UpdateEvent textarea,
.UpdateEvent select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.UpdateEvent button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.UpdateEvent button:hover,
.UpdateEvent button:active {
    color: white;
    background-color: #fa923f;
}

.btn {
    font-family: "Amazon Ember","Helvetica Neue Light","Helvetica Neue","Helvetica" ,"Arial","sans-serif";
    display: inline-block;
    width: 120px;
    text-decoration: none;
    font-size: 12px;
    height: 45px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    font-width: 400;
    line-height: 45px;
    cursor: pointer;
}