.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn-cadastrar *{
  color:white;
  font-weight: bold;
  font-size: 11px ;
  padding: 0;
  margin:0;
}
.btn-cadastrar{
  padding:7px 20px !important;
  background-color: black !important;
  color:white;
  text-align: center;
  font-size: 13px;
  border-radius: 10px !important;
}

.chipFilter{
  background-color:white !important;
}
.cardJogosEmAlta{
    background-color: white !important;
    padding: 10px;
    border-radius: 10px;
}

.brasao-time{
  width: 27px;
  height: 27px;
  background-size: cover;
  background-repeat: no-repeat;
}

p.nomeJogo {
  font-size: 20px;
  padding-left: 5px;
  margin: 0;
  word-break: break-word;
}

.lbl-small{
 font-size: 13px;
 color:'#e7e7e7' !important;
 margin:0;
}

.game-divider{
  margin: 0 10px;
}
.txt-small-strong{
  padding:0;
  margin:0;
  font-size: 14px;
  font-weight: bold;
}
.txt-status{
  padding:0;
  margin:0;
  font-size: 14px;
  font-weight: bold;
  color:'#d7d7d7' !important;
}

.wrap-champ ul {
  list-style-type: none;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.wrap-champ ul li {
  list-style-type: none;
  padding: 20px 0;
}
h1{
  font-weight: 100;
  font-size: 27px;
}
h2{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom:0;
}

.filterChamps{
  font-size: 13px;
  font-weight: bold;
  color:"#666666" !important;
  margin:0;
  padding:0;
}

.filterChamps .selected{
  background-color: "black";
  padding:5px 15px;
  border-radius: 15px;
}

p.filterChamps.selected {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border-radius: 9px;
}

p.passed {
  color: green;
  font-weight: bold;
  font-size: 11px;
  margin: 5px 0 10px;
}
p.live {
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0 10px;
}

.bkg-banner-home{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.title-banner{
  position: absolute;
  color:white;
  font-size: 20px;
  z-index: 1000;
  bottom: 10px;
  left:10px;
  font-family: Roboto;
  font-weight: 400;
  text-align: left;
}
.blacklayer{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
  position:absolute;
}
.patrocinio {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 11px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.menu-footer li{
  list-style-type: none;
  color: white;
  text-align: left;
}
.menu-footer a{
  text-decoration: none;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
